nav {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    margin: 0;
}

.profile {
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.history {
    width: 80%;
    margin: 20px auto;
}

textarea {
    width: 100%;
    resize: none;
    font-family: monospace;
}

.container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.account-overview, .financial-tools {
    width: 35%;
    padding: 20px;
    
}

button {
    margin-top: 5px;
    padding: 5px 5px;
    cursor: pointer;
}

.info-section {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 10px;
}

.icon {
    width: 70px;
    height: 70px;
}

.info-section div {
    flex: 1;
}
